* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.App{
  background-color: #f8edd3;
}

.login-error-text{
  color:white;
  font-weight: bold;
  opacity: 15px;
}

.login-form{
  text-align: center;
  align-items: center;
  margin: 150px auto;
  background-color: rgb(225, 198, 153);
  opacity: .86;
  width: 280px;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
}

.login-form input, .register-form, input {
  background-color: rgb(225, 198, 153);
  border-top-color: rgb(225, 198, 153);
  border-right-color: rgb(225, 198, 153);
  border-left-color: rgb(225, 198, 153);
  border-bottom-color: rgb(56, 72, 91);
}

.register-form{
  text-align: center;
  align-items: center;
  margin: 150px auto;
  background-color: rgb(225, 198, 153);
  opacity: .86;
  width: 280px;
  height: 530px;
  border-radius: 10px;
  padding: 5px;
}

.errors-text{
  color: red;
}

label {
  font-style: oblique;
}

.login-container{
  min-height: 100vh;
  padding: 80px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1290&q=80");
  overflow-x: hidden;
  background-size: 100%; 
}

.login-title{
  color:#f8edd3;
  font-weight: bold;
  font-size: 40px;
  background-color: rgb(225, 198, 153);
  opacity: .86;
  width: 280px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.title{
  color: black;
}

.login-footer{
  display: flex;
  justify-content: space-evenly;
}

.loginbtn{
  background-color:rgb(225, 198, 153);
  color: black;
  padding: 5px;
  border-radius: 15px;
  border-style: none;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 15px;
}

.loginbtn:hover{
  background-color:rgb(202, 170, 113);
  color: black;
  padding: 10px;
}

.logout-link{
  background-color: #f8edd3;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 5px;
  transition: 0.5s;
  border: none;
  margin-top: -5px;
}

.logout-link:hover{
  background-color: rgb(202, 170, 113);
  border-style: none;
}

.allbook-container {
  padding: 15px;
  background: #f8edd3;
  height: 990px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.allbooks-title{
  color: black;
  margin-top: 70px;
  font-style: italic;
  padding-left: 20px;
  font-weight: bold;
}

.allbook-table {
  table-layout:fixed;
  border-collapse: fixed;
  text-align: center;
  width: 100%;
  height:100%;
  color: white;
  font-size: 14px;
}

td { 
  background: #f8edd3;
  color: black; 
  font-weight: bold; 
}

th, td{
  width: 20%;
  text-align: center;
  border: 1px solid black;
  color: black;
  font-style: oblique;
}

.userP-container {
  padding: 15px;
  background: #f8edd3;
  height: 980px;
  text-align: center;
  table-layout: fixed;
}

.userProfile-header{
  text-align: center;
  color: black;
  padding-bottom: 30px;
  font-style: italic;
  font-weight: bold;
}

.userProfile-title {
  color:#cebd97;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
  text-decoration: underline;
}

.userProfile-table{
  table-layout:fixed;
  border-collapse: fixed;
  text-align: center;
  width: 100%;
  color: rgb(209, 209, 209);
  font-size: 14px;
}

.userP-container td{
  overflow-wrap: break-word;
}

.userP-container th{
  color:black;
  font-style: oblique;
}

.edit-container{
  background-color: #f8edd3;
  height: 980px;
  padding: 80px;
  text-align: center;
  overflow-x: hidden;
}

.edit-header{
  text-align: center;
  color: black;
  padding-bottom: 30px;
  font-style: italic;
  font-weight: bold;
}

.edit-title {
  font-size: 25px;
  color: black;
  opacity: .80;
  width: 280px;
  font-weight: 900;
  padding-bottom: 10px;
  position: relative;
  font-weight: bolder;
  margin: auto;
}

.edit-form{
  text-align: center;
  margin-top: 40px;
  height: 300px;
  border-radius: 10px;
  padding: 5px
}

.edit-form select{
  background-color: #f8edd3;
  border-top-color: #f8edd3;
  border-right-color: #f8edd3;
  border-left-color: #f8edd3;
  border-bottom-color: rgb(56, 72, 91);
}

.edit-form input {
  background-color: #f8edd3;
  border: 2px solid black;
  border-top-color: #f8edd3;
  border-right-color: #f8edd3;
  border-left-color: #f8edd3;
  border-bottom-color: rgb(56, 72, 91);
}

.one-book{
  margin: 20px;
}

.one-book-p {
  color: black;
}

.deletebtn{
  background-color:#f8edd3;
  color: black;
  padding: 8px;
  border-radius: 13px;
  border-style: none;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
  transition: .75s;
  font-size: 15px;
}

.deletebtn:hover{
  background-color: #cebd97;
}

label {
  display: block;
  width: 200px;
  margin: 20px auto;
  font-size: 20px;
  color:black;
  font-weight: bold;
  text-align: left;
}

input {
  width: 200px;
  height: 30px;
  text-align: left;
  background-color: #F5F5DC;
  border: 2px solid black;
  border-top-color: #F5F5DC;
  border-right-color: #F5F5DC;
  border-left-color: #F5F5DC;
  border-bottom-color: rgb(56, 72, 91);
}

select {
  width: 200px;
  background-color: #F5F5DC;
  border: 2px solid black;
  border-top-color: #F5F5DC;
  border-right-color: #F5F5DC;
  border-left-color: #F5F5DC;
  border-bottom-color: rgb(56, 72, 91);
}

h3{
  font-size: 30px;
  padding: 10px;
  color:black;
}

h4 {
  color: #cebd97;
  font-style: oblique;
  font-weight: bold;
}

li{
  list-style: none;
}

  .add-new-book-p {
    text-align: right;
    margin-bottom: 40px;
  }

  .small-img{
    width: 70px;
    height: 70px;
    padding: 3px;
  }

  .header-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .lg-img{
    width: 200px;
    height: 200px;
    border: 2px black solid;
  }


  span {
    color: black;
    margin-right: 10px;
  }

  /* @media only screen and (min-device-width: 425px) and (max-width: 700px){

    th, td{
      width: 15%;
      text-align: center;
      border: 1px solid black;
      color: black;
      font-style: oblique;
    }
  } */

  @media (max-device-width: 768px){

    th, td{
      width: 10%;
      text-align: center;
      border: 1px solid black;
      color: black;
      font-style: oblique;
    }

    .edit-title {
      font-size: 25px;
      color: black;
      opacity: .80;
      width: 280px;
      font-weight: 900;
      padding-bottom: 10px;
      position: relative;
      font-weight: bolder;
      margin: auto;
    }
  }

  @media (min-device-width: 1024px){

    th, td{
      width: 5.5%;
      text-align: center;
      border: 1px solid black;
      color: black;
      font-style: oblique;
    }
  }

  @media (min-device-width: 1440px){

    th, td{
      width: 5%;
      text-align: center;
      border: 1px solid black;
      color: black;
      font-style: oblique;
    }

    .allbook-container {
      background: #f8edd3;
      height: 100vh;
    }
  }