* {
  margin: 0px;
  padding: 0px;
}

.App{
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

label {
  display: block;
  width: 200px;
  margin: 20px auto;
  font-size: 22px;
  color: rgb(209, 209, 209);
  text-align: left;
}

input {
  width: 200px;
  height: 30px;
  text-align: left;
  border: 2px solid black;
  border-top-color: rgb(56, 72, 91);
  border-right-color: rgb(56, 72, 91);
  border-left-color: rgb(56, 72, 91);
  border-bottom-color: rgb(119,242,245);
  background: transparent;
}

select{
  width: 350px;
  height: 30px;
  border: 2px solid black;
  background-color: (56, 72, 91);
  background: transparent;
  border: 2px solid rgb(119,242,245);
}

a {
  text-decoration: none;
  color:rgb(209, 209, 209);
}

a:hover{
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

h2{
  font-size: 35px;
  color: rgb(119,242,245);
  padding-bottom: 10px;
}

h3{
  font-size: 30px;
  padding: 10px;
  color:rgb(209, 209, 209);

}

li{
  list-style: none;
}

.login-container{
  background-color:rgb(56, 72, 91);
  height: fit-content;
  padding: 80px;
  text-align: center;
  }

  .login-footer{
    display: flex;
    justify-content: space-evenly;
  }

  .logout-link{
    background-color:rgb(209, 209, 209);
    color: black;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 2px;
  }

  .logout-link:hover{
    background-color: rgb(119,242,245);
    border-style: none;
  }

  .allbook-container {
    padding: 29px;
    background-color: rgb(56, 72, 91);
    height: 970px;
    text-align: center;
  }

  .allbooks-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 72, 91);
  }

  .allbooks-title{
    color: rgb(119,242,245);
    margin-top: 70px;
    font-style: italic;
    padding-left: 20px;
  }

  .add-new-book-p {
    text-align: right;
    margin-bottom: 40px;
  }

  .small-img{
    width: 70px;
    height: 70px;
  }

  .allbook-table {
    table-layout:fixed;
    border-collapse: fixed;
    text-align: center;
    width: 100%;
    height:130%;
    color: rgb(209, 209, 209);
    font-size: 17px;
  }

  td { 
    background: #333; 
    color: white; 
    font-weight: bold; 
    padding: 3px;
  }
  
  th, td{
    width: 20%;
    text-align: center;
    border: 1px solid rgb(119,242,245);
  }

  .userProfile-header{
    text-align: left;
    color: rgb(119,242,245);
    padding-bottom: 30px;
    font-style: italic;
  }
  
  .userProfile-title {
    color: rgb(119,242,245);
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
  }

  .userProfile-table{
    table-layout:fixed;
    border-collapse: fixed;
    text-align: center;
    width: 100%;
    color: rgb(209, 209, 209);
    font-size: 15px;
  }

  .header-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .lg-img{
    width: 120px;
    height: 120px;
  }

  .one-book{
    margin: 20px;
  }
  
  .one-book-p {
    color: rgb(209, 209, 209);
  }

  span {
    color: rgb(209,209,209);
    margin-right: 10px;
  }

  select {
    width: 200px;
  }

  .submitbtn{
    background-color:rgb(56, 72, 91);
    color: rgb(209, 209, 209);
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    text-align: left;
    align-items: left;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
  }
  
  .submitbtn:hover{
    background-color:rgb(119,242,245);
    color: black;
    margin-top: 20px;
    padding: 15px;
  }

  form{
    text-align: center;
    border: 4px solid rgb(119,242,245);
    margin-top: 40px;

  }
  @media screen and (min-width: 512px) and (max-width: 768px) {

    .allbook-container {
      padding: 29px;
      background-color: rgb(56, 72, 91);
      height: fit-content;
      text-align: center;
    }

    th, td{
      width: 15%;
      text-align: center;
      border: 1px solid rgb(119,242,245);
    }
  

    .login-container{
      background-color:rgb(56, 72, 91);
      height: 970px;
      padding: 80px;
      text-align: center;
      }
  }

  @media screen and (min-width: 768px) {

    .login-container{
      background-color:rgb(56, 72, 91);
      height: 970px;
      padding: 80px;
      text-align: center;
      }
    
      .login-footer{
        display: flex;
        justify-content: space-evenly;
      }

      th, td{
        width: 10%;
        text-align: center;
        border: 1px solid rgb(119,242,245);
      }

      .allbook-container {
        padding: 29px;
        background-color: rgb(56, 72, 91);
        height: fit-content;
        text-align: center;
      }

      @media screen and (min-width: 1024px) {
        
        .allbook-container {
          padding: 29px;
          background-color: rgb(56, 72, 91);
          height: 970px;
          text-align: center;
        }

        .login-container{
          background-color:rgb(56, 72, 91);
          height: 970px;
          padding: 80px;
          text-align: center;
          }

          th, td{
            width: 5%;
            text-align: center;
            border: 1px solid rgb(119,242,245);
          }
      }
  }